*{
  padding: 0;
  margin: 0;
}
.InitTop{
  background: url("https://s2.ax1x.com/2019/11/26/MxOVdU.png") no-repeat;
  width: 100%;
  height: 70vw;
  background-size:100% 100%; 
  position: relative;
}
.InitTop img{
  width: 100vw;
}
.InitTop-1{
  float: left;
  height: 100%;
  width: 100%;
  background: rgb(0,0,0,0.2);
}
.InitTop-2{
  float: left;
  margin-top: -30vh;
  margin-left: 33vw;
  width: 30vw;
  height: 15vh;
  background: url("https://s2.ax1x.com/2019/11/26/MxLhVO.png") no-repeat;
  background-size:100% 100%; 
  border-radius: 50%;
}
.InitTitle{
  float: left;
  margin-top: -10vh;
  margin-left: 15vw;
  font-size: 12vw;
  color: white;
  font-family: STXingkai;
  text-shadow:5px 2px 6px #000;
}
.InitAboutus{
  margin-top: -9.8vh;
  width: 100%;
  height: 69vh;
  background: url("https://s2.ax1x.com/2019/11/26/MzfRgS.png") no-repeat;
  background-size:100% 87.3%; 
  background-position: 0vw 10vh;
}
.InitAboutus-p1{
  letter-spacing:1px;
  color: white;
  font-size: 1em;
  margin-top: 22vh;
  margin-left: 13vw;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}
.InitAboutus-p2{
  letter-spacing:1px;
  color: white;
  font-size: 1em;
  margin-top: 1.5vh;
  margin-left: 7vw;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}
.InitAboutus-p3{
  letter-spacing:1px;
  color: white;
  font-size: 1em;
  margin-top: 1.5vh;
  margin-left: 7vw;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}
.InitAboutus-p4{
  letter-spacing:1px;
  color: white;
  font-size: 1em;
  margin-top: 1.5vh;
  margin-left: 7vw;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}
.InitAboutus-p5{
  letter-spacing:1px;
  color: white;
  font-size: 1em;
  margin-top: 1.5vh;
  margin-left: 6vw;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}
.InitAboutus-p6{
  letter-spacing:1px;
  color: white;
  font-size: 1em;
  margin-top: 1.5vh;
  margin-left: 6vw;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}
.InitAboutus-p7{
  letter-spacing:1px;
  color: white;
  font-size: 1em;
  margin-top: 1.5vh;
  margin-left: 6vw;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}
.InitAboutus-p8{
  letter-spacing:2px;
  color: white;
  font-size: 1em;
  margin-top: 10vh;
  margin-left: 56vw;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}
.InitLogin{
  width: 100%;
  height: 50vh;
  background: #000;
}
.Login-1{
  display: block;
  margin-top: 0vh;
}
.Login-2{
  display: block;
  margin-top: 2vh;
}
.Login-3{
  display: block;
  margin-top: 3vh;
}